<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Overall Initializations - BME464</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo">Wolfden Cardiac Solutions</a>
				<nav class="right">
					<a href="#" class="button alt">Log in</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<li><a href="http://152.3.69.46:3000/">Home</a></li>
				<li><a href="http://152.3.69.46:3000/data">Past data</a></li>
				<li><a href="http://152.3.69.46:3000/init">Overall Initializations</a></li>

				</ul>
				<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Initialization Options</h1>
						<p>Type in parameters and submit </p>

					</header>

					<!-- Content -->

					<h4>Select when ready</h4>
									<ul class="actions" class ="align-center">
										<li><a href="pace.html" class="button special">Start Pacing</a></li>
										<li><a href="record.html" class="button">Start Recording</a></li>
										<li><a href="Data.html" class="button alt">Examine Past Data</a></li>

									</ul>


					<h3>Form</h3>
					<li> Type in channel 0 if don't want to pace or record </li>
					<li> Type 1 into "Wake Up" </li>

									<form method="post" action="#">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="channel_record" id="channel_record" value="" placeholder="Channel Number to Record" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="channel_pace" id="channel_pace" value="" placeholder="Channel Number to Pace" />
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="record_duration" id="record_duration" value="" placeholder="Recording Duration" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="pacing_rate" id="pacing_rate" value="" placeholder="Pacing Rate" />
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="amplitude" id="amplitude" value="" placeholder="Amplitude" />
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="pulse_width" id="email" value="" placeholder="Pulse Width" />
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="wake_up" id="wake_up" value="" placeholder="Wake up" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="file_name" id="file_name" value="" placeholder="File Name" />
											</div>

									<ul class="actions" class ="align-center">
										<li><a href="#" class="button special">Lock in data</a></li>

									</ul>





</code></pre>

							</div>
						</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.scrolly.min.js"></script>
		<script src="../assets/js/skel.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<script src="../assets/js/main.js"></script>

	</body>
</html>
